//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
.summarypanel
   .row
      .col-lg-12.time
         button.btn.btn-primary.fa-refresh.app-refresher(ng-click='onRefresh()') Trigger fetching data
         p {{ response.timestamp | date: 'yyyy-MM-dd h:mm:ss a' }}
      tile-blue-numeric(number="controllerSummary.appCount", text="'Applications'",
         link="#/app/applications").col-lg-4.col-sm-12.tile-height-large
      tile-blue-numeric(number="controllerSummary.serviceCount", text="'Services'",
         link="#/app/services/marketplace").col-lg-4.col-sm-12.tile-height-large
      tile-blue-numeric(number="controllerSummary.serviceInstancesCount", text="'Service Instances'",
         link="#/app/services/instances").col-lg-4.col-sm-12.tile-height-large
      tile-blue-numeric(number="controllerSummary.orgCount", text="'Organizations'",
         link="#/app/manage/organizations/manageorganizations/").col-lg-4.col-sm-12.tile-height-large
      tile-blue-numeric(number="controllerSummary.spaceCount", text="'Spaces'",
         link="#/app/manage/organizations/manageorganizations/").col-lg-4.col-sm-12.tile-height-large
      tile-blue-numeric(number="controllerSummary.userCount", text="'Users'",
         link="#/app/manage/orgusers").col-lg-4.col-sm-12.tile-height-large
      tile-blue-numeric(number="controllerSummary.buildpackCount", text="'Buildpacks'").col-lg-4.col-sm-12.tile-height-large
      tile-blue-numeric(number="componentSummary.componentMetrics.length", text="'Droplet Executions Agents'").col-lg-4.col-sm-12.tile-height-large
      tile-blue-numeric(number="componentSummary.reservableStagers", text="'Reservable stagers'").col-lg-4.col-sm-12.tile-height-large
      .col-lg-4.col-sm-12
         tile-blue-numeric(float="componentSummary.memUsedInMb/1024", text="'Memory'", unit="'GB'").tile-height-large
      .col-lg-8.col-sm-12
         table.table.table-striped
            thead
               th Name
               th Version
               th Enabled
            tbody
               tr(ng-repeat="buildpack in controllerSummary.buildpacks")
                  td {{ buildpack.entity.name }}
                  td {{ buildpack.entity.filename }}
                  td(ng-class="{'fa-check': buildpack.entity.enabled, 'fa-cross': !buildpack.entity.enabled}")