//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
.uploaddataset
    h3
        | Upload a data set

    spinner(ng-show='state.isPending()')

    div(ng-show='state.value != state.values.PENDING ')

        form.form-horizontal(name="uploadForm" data-ng-submit='submitDownload()')
            .form-group
                label.col-sm-2.control-label(for='input') Choose input type
                .col-sm-10
                    .radio(ng-repeat="option in uploadFormData.uploadTypes" ng-init="uploadFormData.input = uploadFormData.uploadTypes[0]")
                        label
                            input(type='radio', name='uploadType', ng-value='option',
                                ng-change="inputChange()",
                                ng-model="uploadFormData.input" ng-selected="option === uploadFormData.input")
                            span.fa.fa-circle
                            | {{ option.text }}

            .form-group(ng-if="uploadFormData.input.type === 'link'")
                label.col-sm-2.control-label(for='link') {{ uploadFormData.input.text }}
                .col-sm-10
                    input#link.form-control(type='text', name="fileName", placeholder='place link...',
                    data-ng-model='uploadFormData.link', pattern-validator="^(http|https|ftp|hdfs)://.*$", required)

            .form-group(ng-if="uploadFormData.input.type === 'local'")
                label.col-sm-2.control-label(for='file') {{ uploadFormData.input.text }}
                .col-sm-10
                    input.btn.btn-primary(type='file', nv-file-select, ngf-select, name='upfile', required,
                    data-ng-model='uploadFormData.filename', file-valid)

            .form-group
                label.col-sm-2.control-label(for='title') Title
                .col-sm-10
                    input#title.form-control(type='text', placeholder='title for link...', data-ng-model='uploadFormData.title', required)

            .form-group
                label.col-sm-2.control-label(for='public') Should be public?
                .col-sm-10
                    .checkbox.c-checkbox
                        label
                            input#public(type="checkbox"
                            ng-model="uploadFormData.public"
                            ng-click="updateUserRoles(user, avRole)",
                            placeholder='Check if the dataset should be accessible for other organizations')
                            span.fa.fa-check

            .form-group
                label.col-sm-2.control-label Choose category
                .categories.col-sm-5
                    a.btn-radio(ng-repeat='c in uploadFormData.categories',
                            data-ng-click="setCategory(c)", ng-class="{active:uploadFormData.category==c}", role='button')
                        div(class='fa fa-{{ getIcon(c) }}')
                        | {{ c }}

            .form-group
                .col-sm-offset-2.col-sm-10
                    input.btn.btn-primary(type='submit', value='Upload',
                        ng-disabled="uploadForm.$invalid")

script(type="text/ng-template", id="progress-upload")
    .ngdialog-message.clearfix
        div(ng-if="!data.response && !data.error")
            p.text-center
                | Uploading file
            .progress
                .progress-bar(ng-style="{ 'width': data.progress + '%' }")
            div
                span.col-sm-7.text-left
                    | Uploading speed: {{ data.speed ? data.speed : '-' }} MB/s
                span.col-sm-5.text-right
                    | Time left: {{ data.timeLeft ? (data.timeLeft | presentTimeFilter | date:'HH:mm:ss') : '-' }}
            button.btn.btn-warning.pull-right(type='button', ng-click="data.abort(); ok()") Cancel
        div(ng-if="data.response && !data.error")
            p Upload finished successfully!
        div(ng-if="data.error")
            p Upload finished with error:
            div.list {{ data.error.message }}

        button.btn.btn-default(ng-if="data.response || data.error" type='button', ng-click="ok()") OK
