//
   Copyright (c) 2015 Intel Corporation

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
//-
spinner(ng-show='state.isPending()')

.dashboard.error-state(ng-show='state.isError()')
    .error Error loading metrics

.dashboard.row(d-visible="state.isLoaded()")
    .category-title.clearfix
        | Health & metrics

    tile-small-white-numeric(number="data.appsRunning", text="'Applications running'", link="#/app/applications").col-lg-4.col-md-6.col-sm-6
    tile-small-white-numeric(number="data.appsDown", text="'Applications down'",
      link="#/app/applications").col-lg-4.col-md-6.col-sm-6
    tile-small-white-numeric(number="data.totalUsers", text="'Users count'",
      link="#/app/manage/orgusers", link-enabled="canManageUsers()").col-lg-4.col-md-6.col-sm-6
    tile-load-chart(chart-data="loadChart.values", state="loadChart.state",
      parent-state="state",).col-lg-12.col-md-12.col-sm-12

    .category-title.clearfix Quotas
    tile-progress(value="data.memoryUsage.numerator | memoryConverter: 'GB':'MB'",
        total="data.memoryUsage.denominator | memoryConverter: 'GB':'MB'",
        unit="'GB'",
        title="'Memory usage'").col-lg-4.col-sm-6
    tile-blue-numeric(number="data.serviceUsage", text="'Service usage'",
      link="#/app/marketplace/instances").col-lg-4.col-sm-6.tile-height-large
    tile-blue-numeric(number="data.domainsUsage", text="'Domains usage'",
      link="#/app/applications").col-lg-4.col-sm-6.tile-height-large

    .col-md-4.left-col
        .category-title Data
        tile-blue-numeric(number="data.datasetCount", text="'Datasets count'",
            link="#/app/datacatalog/datasets").tile-height-small
        tile-blue-numeric(number="data.privateDatasets", text="'Private datasets'",
            link="#/app/datacatalog/datasets").tile-height-small
        tile-blue-numeric(number="data.publicDatasets", text="'Public datasets'",
            link="#/app/datacatalog/datasets").tile-height-small

    .col-md-8
        .category-title Other
        tile-news(events="data.latestEvents", link="#/app/events")


